*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;           
}

/*INDEX*/
.cuerpoIndex{
background-image: url(../Imagenes/fondoWebGuille.png);
background-size: cover;
background-repeat: no-repeat;
text-decoration: none;
/*height: 100vh;*/
}

.cuerpo{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.slide{
    margin-bottom: 10rem;
    
}
.diapoMobile img {
    height: 80vh;
    width: 100vw;  
}
.diapoDesk{
    display: none;
}

.navMap {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(250, 252, 252);
    width: 100vw;
    border-top: solid 3px;
    border-color: rgb(31, 113, 155);
}

.navMap .tituloPie {
    font-size: large;
    font-weight: bolder;
    margin-top: 2rem;
}

.navMap .listaMenuPie {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
    padding: 0;
}

.navMap .listaMenuPie li {
    text-align: center;
}

.navMap .menues {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.navMap .logoPie {
    margin-top: 0; 
}
.navMap .menues .listaMenuPie a {
    text-decoration: none;
}
.navMap .menues .tituloPie a p{
    text-decoration: none;
}
.navMap p {
    padding: 0px;
}

.piePagina{
    
    display: flex;
    justify-content: center;
    text-align: center;
    
    margin-bottom: 0;
    margin-top: auto;
    font-size:  12px; 
    bottom: 0;  
}

@media (min-width:768px) {

    .cuerpo {
        margin-top: 0;
    }

    .menuMobile {
        display: none;
    }

    .menuDesk {
        display: block;
    }

    .textoMenu{
        text-align: end;
    }

    .navMap {
        display:flex;
        
        flex-direction: row;
        align-items:center;
        justify-content: space-around;
        width: 100vw;
        margin-top: 6rem;
        margin-bottom: 1rem;
    }

    .navMap .menues {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -2.5rem;
        

    }
    .navMap .menues .listaMenuPie a {
        text-decoration: none;
        color: rgb(31, 113, 155);
    }

    .navMap .menues a {
        text-decoration: none;
        color: rgb(31, 113, 155);
    }

    .menu .item {
        font-size: 3rem;
    }

    .diapoDesk img {
        height: 100vh;
        width: 100vw;
        
    }

    .diapoMobile{
        display: none;
    }

    .diapoDesk{
        display: block;
    }

    .nav-link{
        font-family: 'Comfortaa', cursive;;
            }
}

.nombres__obras {
    font-family: 'Comfortaa', cursive;
    
}

.menu__obras a:hover {
    border-radius: 5px;
    transform: scale(1.15);
    background-color:  #d9ccb3;
    color: black;
    transition-timing-function: ease-in-out;
}

/*ESTILOS OBRAS*/

.cuerpoSecciones{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url(../Imagenes/fondoWebGuille.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-decoration: none;
    min-height: 100vh;
    
} 

.secciones__nav{
    background-color: rgba(196, 232, 250, 0.904);
}
/*Estilos Galeria*/

.galeria{
    width: 90%;
    height:100%;
    margin: 5rem  auto;
    margin-bottom: 10rem;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria li {
    margin: 5px;
}
.galeria img {
    width: 20rem;
    height: 12rem;
}

 /*resto*/
 .galeria__b{
    width: 90%;
    /*min-height: calc(100vh-50px-100px);*/
    margin: 5rem auto;
    margin-bottom: 7rem;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria__b li {
    margin: 5px;
}
.galeria__b img {
    width: 40rem;
    
    
    
}
/*CASAH8*/
.galeria__e {
    width: 90%;
    /*min-height: calc(100vh-50px-100px);*/
    margin: 5rem auto;
    margin-bottom: 16rem;
    list-style: none;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .galeria__e li {
    margin: 5px;
  }
  
  .galeria__e img {
    width: 40rem;
  }
  
/*reformaJulio*/
.galeria__c{
    width: 90%;
    
    margin: 5rem auto;
    margin-bottom: 9rem;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria__c li {
    margin: 5px;
}
.galeria__c img {
    width: 30rem;
    height: 15rem;
}

.galeria__d{
    width: 90%;
    height:90%;
    margin: 5rem auto;
    margin-bottom: 7rem;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria__d li {
    margin: 5px;
}
.galeria__d img {
    width: 30rem;
    height: 15rem;
}
/*LA PROVIDENCIA*/
.galeria__f{
    width: 90%;
    margin: 5rem auto;
    margin-bottom: 17rem;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria__f li {
    margin: 5px;
}
.galeria__f img {
    width: 40rem;
    
    
    
}

/*Estilos Modal*/ 
    .visor {
        display: none;
    }
    .visor:target {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position:absolute;
    background: rgba(0,0,0, 0.6);
    top: 9rem;
    left: 0;
    width: 100%;
    height: 100%;
    
 }
 .visor .copete {
    margin-top: 1rem;
    border-radius: 5px;
    text-align: center;
    background-color: aliceblue;
    color: rgb(1, 7, 12);
    font-size: 30px;
    padding: 10px; 
    font-family:'Comfortaa', cursive; 
 }
 .card__1 {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .card__1 a {
    font-size: 35px;
    color: aliceblue;
    text-decoration: none;
    margin: 0 10px;
 }
 .card__1 img {
    width: 62rem;
    height: 32rem;
    max-width: 100%;
    border: 10px solid #fff;
    box-sizing: border-box;
 }

 .card__1 a:nth-child(2){
    margin: 0;
 }

 .cerrar {
    display: block;
    width: 40px;
    height:auto;
    padding:0 7px 6px 7px;
    text-decoration: none;
    margin:10px auto;
    text-align: center;
    font-size: 30px;
    border-radius: 20%;
 }
 
 @media (max-width:600px){
    .card__1 img {
        width: 70rem;
        height: 15rem;
        max-width: 100%;
        border: 10px solid #fff;
        box-sizing: border-box;
     }
     .cuerpoSecciones{
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url(../Imagenes/fondoWebGuille.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-decoration: none;
    } 

    
    .galeria__b img {
        width: 40rem;
        height: 25rem;
        max-width: 100%;
        max-height: 25vh;
    }
    .galeria__c img {
        width: 30rem;
        height: 15rem;
        max-width: 100%;
        max-height: 25vh;
    }
    .piePagina{
    
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 0;
        margin-top: 50px;
        font-size:  12px; 
       
        
        
    }
    
 }

 .menu__hambur{
    font-family: 'Comfortaa', cursive;

 }
 /*SECCION ESTUDIO*/
 .contenedorEstudio{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;

 }

 .contenedorEstudio .piePaginaEstudio{
    bottom: 0;

 }
 .contenedorEstudio p {
    padding: 15px;
    margin: 10rem;
 }